{% extends "email/layouts/email.html" %}

{% block content %}

    {% set p_style = "font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;" %}

    <p style="{{ p_style }}">Hi {{ name }},</p>


    <p style="{{ p_style }} color: #848484;">---</p>

    {% for key, value in data | dictsort -%}
        <p style="{{ p_style }}"> key: {{ key }} , value: {{ value }} </p>
    {% endfor %}

    <p style="margin-top: 1em;">
        <small style="color:#8899a6;text-decoration:none;"></small>
    </p>

{% endblock %}

{% block footer %}


{% endblock %}