{% extends "email/layouts/email.html" %}
{% set p_style = "font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;" %}
{% block content %}
    <p style="{{ p_style }} color: #848484;">We receive your password request and if you really need to reset
        password.</p>
    <a href="{{ data.url }}">Please click here to reset your password!</a>
{% endblock %}
{% block content_zh %}
    <p style="{{ p_style }} color: #848484;">我們會收到您的密碼請求以及您是否真的需要重置密碼。</p>
    <a href="{{ data.url }}">請點擊這裡重置您的密碼！</a>
{% endblock %}

{% block footer %}

{% endblock %}