azure-ai-formrecognizer==3.1.2
azure-ai-textanalytics==5.1.0
azure-cognitiveservices-vision-face==0.5.0
azure-identity==1.6.1
azure-keyvault-secrets==4.3.0
azure-storage-blob==12.8.1
Flask==1.1.4
Flask-Babel==2.0.0
Flask-Bootstrap==3.3.7.1
Flask-Classful==0.14.2
Flask-Datepicker==0.14
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.7.0
Flask-Moment==0.11.0
Flask-WTF==0.15.1
jaraco.docker==2.0
login==0.0.6
MarkupSafe==2.0.1
opencensus==0.7.13
opencensus-ext-azure==1.0.8
opencensus-ext-flask==0.7.5
PyJWT==2.1.0